---
http_interactions:
- request:
    method: get
    uri: https://apidataparliament.azure-api.net/search/description
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - C1ffda09e8e0415ea26d41439a7ff65e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/opensearchdescription+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<OpenSearchDescription xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">\r\n
        \ <ShortName>parliament.uk</ShortName>\r\n  <Description>UK Parliament</Description>\r\n
        \ <Url template=\"https://api20170418155059.azure-api.net/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/atom+xml\" />\r\n  <Url template=\"https://api20170418155059.azure-api.net/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/rss+xml\" />\r\n  <Url template=\"https://api20170418155059.azure-api.net/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/json\" />\r\n  <Url template=\"https://api20170418155059.azure-api.net/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"text/json\" />\r\n  <Url template=\"https://api20170418155059.azure-api.net/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"text/xml\" />\r\n  <Url template=\"https://api20170418155059.azure-api.net/search?q={searchTerms}&amp;start={startIndex?}&amp;count={count?}\"
        type=\"application/xml\" />\r\n</OpenSearchDescription>"
  recorded_at: Wed, 06 Sep 2017 07:18:37 GMT
recorded_with: VCR 3.0.3
