---
http_interactions:
- request:
    method: get
    uri: https://apidataparliament.azure-api.net/search/description
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - 1dd99ef487ce4ad4b27a9ac173fabcc9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/opensearchdescription+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<OpenSearchDescription xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">\r\n
        \ <ShortName>parliament.uk</ShortName>\r\n  <Description>UK Parliament</Description>\r\n
        \ <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;count={count?}\"
        type=\"application/atom+xml\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;count={count?}\"
        type=\"application/rss+xml\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;count={count?}\"
        type=\"application/json\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;count={count?}\"
        type=\"text/json\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;count={count?}\"
        type=\"text/xml\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;count={count?}\"
        type=\"application/xml\" />\r\n</OpenSearchDescription>"
  recorded_at: Thu, 24 Aug 2017 14:30:29 GMT
- request:
    method: get
    uri: http://localhost:3030/house_index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/n-triples
    body:
      encoding: UTF-8
      string: "<https://id.parliament.uk/KL2k1BGP> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type>
        <https://id.parliament.uk/schema/House> .\r\n<https://id.parliament.uk/KL2k1BGP> <https://id.parliament.uk/schema/houseName>
        \"houseName - 1\" .\r\n<https://id.parliament.uk/m1EgVTLj> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type>
        <https://id.parliament.uk/schema/House> .\r\n<https://id.parliament.uk/m1EgVTLj> <https://id.parliament.uk/schema/houseName>
        \"houseName - 2\" .\r\n"
  recorded_at: Thu, 24 Aug 2017 14:30:30 GMT
recorded_with: VCR 3.0.3
