---
http_interactions:
- request:
    method: get
    uri: https://apidataparliament.azure-api.net/search/description
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/opensearchdescription+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<OpenSearchDescription xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">\r\n
        \ <ShortName>parliament.uk</ShortName>\r\n  <Description>UK Parliament website</Description>\r\n
        \ <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/atom+xml\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/rss+xml\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/json\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"text/json\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"text/xml\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/xml\" />\r\n</OpenSearchDescription>"
  recorded_at: Mon, 10 Jul 2017 14:48:10 GMT
- request:
    method: get
    uri: https://apidataparliament.azure-api.net/search?pagesize=10&q=fdsfsd&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><feed xmlns="http://www.w3.org/2005/Atom"><title
        type="text"></title><id>uuid:88ca719e-a104-402c-b3ff-e639748e3376;id=1440</id><updated>2017-07-10T14:47:04Z</updated><author><name>parliament.uk</name></author><Query
        role="request" searchTerms="fdsfsd" totalResults="0" count="10" startIndex="1"
        xmlns="http://a9.com/-/spec/opensearch/1.1/" /><totalResults xmlns="http://a9.com/-/spec/opensearch/1.1/">0</totalResults><startIndex
        xmlns="http://a9.com/-/spec/opensearch/1.1/">1</startIndex></feed>
  recorded_at: Mon, 10 Jul 2017 14:48:11 GMT
recorded_with: VCR 2.9.3
