%table
  %thead
    %tr
      %th Subject
      %th Predicate
      %th Object
  %tbody
    - @statements.each do |statement|
      %tr
        - statement.each do |section|
          %td
            - if section.uri?
              = link_to(section.to_s, section.to_s)
            - else
              = section
