---
http_interactions:
- request:
    method: get
    uri: https://apidataparliament.azure-api.net/search/description
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - 1dd99ef487ce4ad4b27a9ac173fabcc9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/opensearchdescription+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<OpenSearchDescription xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">\r\n
        \ <ShortName>parliament.uk</ShortName>\r\n  <Description>UK Parliament</Description>\r\n
        \ <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;count={count?}\"
        type=\"application/atom+xml\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;count={count?}\"
        type=\"application/rss+xml\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;count={count?}\"
        type=\"application/json\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;count={count?}\"
        type=\"text/json\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;count={count?}\"
        type=\"text/xml\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;count={count?}\"
        type=\"application/xml\" />\r\n</OpenSearchDescription>"
  recorded_at: Thu, 24 Aug 2017 14:30:52 GMT
- request:
    method: get
    uri: https://apidataparliament.azure-api.net/search?count=10&q=banana&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - 1dd99ef487ce4ad4b27a9ac173fabcc9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><feed xmlns=\"http://www.w3.org/2005/Atom\"><title
        type=\"text\"></title><id>uuid:30d580ba-fdf9-4c93-9409-be1769dc7863;id=258</id><updated>2017-08-07T12:41:39Z</updated><author><name>parliament.uk</name></author><Query
        role=\"request\" searchTerms=\"banana\" totalResults=\"19100\" count=\"10\"
        startIndex=\"1\" xmlns=\"http://a9.com/-/spec/opensearch/1.1/\" /><totalResults
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">19100</totalResults><startIndex
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">1</startIndex><entry><id>uuid:30d580ba-fdf9-4c93-9409-be1769dc7863;id=259</id><title
        type=\"html\">EU: Trade Agreement on &lt;b&gt;Banana&lt;/b&gt; Imports - Hansard
        Online</title><summary type=\"html\">Feb 7, 2012 &lt;b&gt;...&lt;/b&gt; Most
        &lt;b&gt;bananas&lt;/b&gt; carry a country-of-origin label and you know whether
        you are &lt;br&gt;\r\nbuying Colombian, Costa Rican or Ecuadorian &lt;b&gt;bananas&lt;/b&gt;.
        But fair&amp;nbsp;...</summary><updated>2017-08-07T12:41:39Z</updated><link
        rel=\"alternate\" href=\"https://hansard.parliament.uk/Lords/2012-02-07/debates/12020792000204/EUTradeAgreementOnBananaImports\"
        /></entry><entry><id>uuid:30d580ba-fdf9-4c93-9409-be1769dc7863;id=260</id><title
        type=\"html\">Trade dispute between the EU and the US over &lt;b&gt;bananas&lt;/b&gt;</title><summary
        type=\"html\">Mar 12, 1999 &lt;b&gt;...&lt;/b&gt; describes why the EU import
        regime for &lt;b&gt;bananas&lt;/b&gt; arose, ... The EU &lt;b&gt;banana&lt;/b&gt;
        &lt;br&gt;\r\nregime is an attempt to combine obligations to former colonies
        with&amp;nbsp;...</summary><updated>2017-08-07T12:41:39Z</updated><link rel=\"alternate\"
        type=\"application/pdf\" href=\"http://researchbriefings.files.parliament.uk/documents/RP99-28/RP99-28.pdf\"
        /></entry><entry><id>uuid:30d580ba-fdf9-4c93-9409-be1769dc7863;id=261</id><title
        type=\"html\">House of Lords - European Communities - Second Report</title><summary
        type=\"html\">The letter explained why the then Government, while arguing
        for liberalisation of &lt;br&gt;\r\nthe CAP, nevertheless supported protectionist
        meas[...]
- request:
    method: get
    uri: http://localhost:3030/house_index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/n-triples
    body:
      encoding: UTF-8
      string: "<https://id.parliament.uk/KL2k1BGP> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type>
        <https://id.parliament.uk/schema/House> .\r\n<https://id.parliament.uk/KL2k1BGP> <https://id.parliament.uk/schema/houseName>
        \"houseName - 1\" .\r\n<https://id.parliament.uk/m1EgVTLj> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type>
        <https://id.parliament.uk/schema/House> .\r\n<https://id.parliament.uk/m1EgVTLj> <https://id.parliament.uk/schema/houseName>
        \"houseName - 2\" .\r\n"
  recorded_at: Thu, 24 Aug 2017 14:30:56 GMT
recorded_with: VCR 3.0.3
