---
http_interactions:
- request:
    method: get
    uri: https://apidataparliament.azure-api.net/search/description
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/opensearchdescription+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<OpenSearchDescription xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">\r\n
        \ <ShortName>parliament.uk</ShortName>\r\n  <Description>UK Parliament website</Description>\r\n
        \ <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/atom+xml\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/rss+xml\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/json\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"text/json\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"text/xml\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/xml\" />\r\n</OpenSearchDescription>"
  recorded_at: Fri, 28 Jul 2017 10:26:44 GMT
- request:
    method: get
    uri: https://apidataparliament.azure-api.net/search?pagesize=10&q=banana&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><feed xmlns=\"http://www.w3.org/2005/Atom\"><title
        type=\"text\"></title><id>uuid:30727062-4233-46c1-bb7e-e36d87a693cb;id=179</id><updated>2017-07-28T10:26:42Z</updated><author><name>parliament.uk</name></author><Query
        role=\"request\" searchTerms=\"banana\" totalResults=\"19900\" count=\"10\"
        startIndex=\"1\" xmlns=\"http://a9.com/-/spec/opensearch/1.1/\" /><totalResults
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">19900</totalResults><startIndex
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">1</startIndex><entry><id>uuid:30727062-4233-46c1-bb7e-e36d87a693cb;id=180</id><title
        type=\"html\">EU: Trade Agreement on &lt;b&gt;Banana&lt;/b&gt; Imports - Hansard
        Online</title><summary type=\"html\">Feb 7, 2012 &lt;b&gt;...&lt;/b&gt; Most
        &lt;b&gt;bananas&lt;/b&gt; carry a country-of-origin label and you know whether
        you are &lt;br&gt;\r\nbuying Colombian, Costa Rican or Ecuadorian &lt;b&gt;bananas&lt;/b&gt;.
        But fair&amp;nbsp;...</summary><updated>2017-07-28T10:26:42Z</updated><link
        rel=\"alternate\" href=\"https://hansard.parliament.uk/Lords/2012-02-07/debates/12020792000204/EUTradeAgreementOnBananaImports\"
        /></entry><entry><id>uuid:30727062-4233-46c1-bb7e-e36d87a693cb;id=181</id><title
        type=\"html\">Trade dispute between the EU and the US over &lt;b&gt;bananas&lt;/b&gt;</title><summary
        type=\"html\">Mar 12, 1999 &lt;b&gt;...&lt;/b&gt; describes why the EU import
        regime for &lt;b&gt;bananas&lt;/b&gt; arose, ... The EU &lt;b&gt;banana&lt;/b&gt;
        &lt;br&gt;\r\nregime is an attempt to combine obligations to former colonies
        with&amp;nbsp;...</summary><updated>2017-07-28T10:26:42Z</updated><link rel=\"alternate\"
        type=\"application/pdf\" href=\"http://researchbriefings.files.parliament.uk/documents/RP99-28/RP99-28.pdf\"
        /></entry><entry><id>uuid:30727062-4233-46c1-bb7e-e36d87a693cb;id=182</id><title
        type=\"html\">House of Lords - European Communities - Second Report</title><summary
        type=\"html\">The letter explained why the then Government, while arguing
        for liberalisation of &lt;br&gt;\r\nthe CAP, nevertheless supported protectionist
        meas[...]
- request:
    method: get
    uri: http://localhost:3030/houses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/n-triples
      Last-Modified:
      - Fri, 28 Jul 2017 10:20:45 GMT
    body:
      encoding: UTF-8
      string: "<http://id.ukpds.org/Kz7ncmrt> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type>
        <http://id.ukpds.org/schema/House> .\r\n<http://id.ukpds.org/Kz7ncmrt> <http://id.ukpds.org/schema/houseName>
        \"houseName - 1\" .\r\n<http://id.ukpds.org/MvLURLV5> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type>
        <http://id.ukpds.org/schema/House> .\r\n<http://id.ukpds.org/MvLURLV5> <http://id.ukpds.org/schema/houseName>
        \"houseName - 2\" .\r\n"
  recorded_at: Fri, 28 Jul 2017 10:26:44 GMT
recorded_with: VCR 3.0.3
