---
http_interactions:
- request:
    method: get
    uri: https://apidataparliament.azure-api.net/search/description
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/opensearchdescription+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<OpenSearchDescription xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">\r\n
        \ <ShortName>parliament.uk</ShortName>\r\n  <Description>UK Parliament website</Description>\r\n
        \ <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/atom+xml\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/rss+xml\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/json\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"text/json\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"text/xml\" />\r\n  <Url template=\"https://apidataparliament.azure-api.net/search?q={searchTerms}&amp;start={startPage?}&amp;pagesize={count?}\"
        type=\"application/xml\" />\r\n</OpenSearchDescription>"
  recorded_at: Fri, 28 Jul 2017 10:26:44 GMT
- request:
    method: get
    uri: https://apidataparliament.azure-api.net/search?pagesize=10&q=alert(document.cookie)&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><feed xmlns=\"http://www.w3.org/2005/Atom\"><title
        type=\"text\"></title><id>uuid:30727062-4233-46c1-bb7e-e36d87a693cb;id=190</id><updated>2017-07-28T10:26:43Z</updated><author><name>parliament.uk</name></author><Query
        role=\"request\" searchTerms=\"alert(document.cookie)\" totalResults=\"2540\"
        count=\"10\" startIndex=\"1\" xmlns=\"http://a9.com/-/spec/opensearch/1.1/\"
        /><totalResults xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">2540</totalResults><startIndex
        xmlns=\"http://a9.com/-/spec/opensearch/1.1/\">1</startIndex><entry><id>uuid:30727062-4233-46c1-bb7e-e36d87a693cb;id=191</id><title
        type=\"html\">Government publications (Command Papers) - UK Parliament</title><summary
        type=\"html\">Green Papers - government consultation &lt;b&gt;documents&lt;/b&gt;.
        Some government &lt;br&gt;\r\nresponses to Select Committee reports. Reports
        of Royal Commissions and &lt;br&gt;\r\nsome other&amp;nbsp;...</summary><updated>2017-07-28T10:26:43Z</updated><link
        rel=\"alternate\" href=\"http://[...]
- request:
    method: get
    uri: http://localhost:3030/houses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/n-triples
      Last-Modified:
      - Fri, 28 Jul 2017 10:20:45 GMT
    body:
      encoding: UTF-8
      string: "<http://id.ukpds.org/Kz7ncmrt> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type>
        <http://id.ukpds.org/schema/House> .\r\n<http://id.ukpds.org/Kz7ncmrt> <http://id.ukpds.org/schema/houseName>
        \"houseName - 1\" .\r\n<http://id.ukpds.org/MvLURLV5> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type>
        <http://id.ukpds.org/schema/House> .\r\n<http://id.ukpds.org/MvLURLV5> <http://id.ukpds.org/schema/houseName>
        \"houseName - 2\" .\r\n"
  recorded_at: Fri, 28 Jul 2017 10:26:45 GMT
recorded_with: VCR 3.0.3
